doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js", integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js")
    script(src="/javascripts/p5.speech.js")
  body
    block content
    script(src="/javascripts/sketch.js")